h1 { 
    color: red;
    background-color: Gold;
    border: 5px solid black;
  {

  p {
    color: red;
   } 

   .red {
     color: #f33;
   }

   .yellow-bg {
     background: #ffa;
   }

   .fancy {
     font-weight: bold;
     text-shadow: 4px 4px 3px #77f;
   }
 
    p.intro {
      background-color: yellow;
    }

     li {
       list-style-type: disc;
     }

     li li {
       list-style-type: circle;
     }

  li:first-of-type + li {
    color: red;
  }

    h2{
      background-color: Gold;
      padding: 20px 20px 20px 20px;
    }

    p{
      background-color: Lavender;
      padding: 50px 50px 50px 50px;
    } 
    div {
        height: 20px;
        width: 200px;
        background-color: Aqua;
      }